body {
  margin: 0;

  background-color: #0d0f11;

  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.text-center {
  text-align: center;
}


/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Container */
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}


/* Button */
.button {
  display: inline-block;
  padding: 10px 30px;

  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: color 0.1s, background-color 0.2s linear;
}

.button:hover {
  background-color: #fb9902;
  color: #ffffff;
}

.button--primary {
  background-color: #fb9902;
  color: #ffffff;
}

.button--primary:hover {
  background-color: #ffffff;
  color: #fb9902;
}

.button--small {
  padding: 10px 20px;

  font-size: 12px;
  font-weight: 700;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
}


/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  border-bottom: 1px solid #fb9902;
}

.logo {
  margin: 0;
  margin-right: 40px;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin: 0;

  list-style: none;
}

.navigation__link {
  padding: 0 15px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link.active {
  color: #fb9902;
}

.navigation__link:hover {
  color: #fb9902;
}

.navigation__search {
  margin-left: 30px;
  padding: 0;

  background-color: inherit;
  border: none;
  cursor: pointer;

  color: #ffffff;
}

.navigation__search:hover {
  color: #fb9902;
}

.phone {
  text-decoration: none;
}


/* Hero */
.hero {
  height: 950px;
  margin-bottom: 10px;

  background: #000 url("../images/hero-bg-1.jpg") no-repeat center;
  background-size: cover;
}

.hero::before {
  position: absolute;
  width: 100%;
  height: 950px;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
}

.hero__inner {
  position: relative;
  top: 40px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  z-index: 2;
}

.hero__slogan {
  margin-bottom: 10px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
  line-height: 1;
  font-weight: 600;
}

.hero__text {
  max-width: 600px;
  margin-bottom: 25px;
  
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

.hero__button {
  font-weight: 400;
}


/* Section */
.section {
  padding: 100px 0;

  background-color: #0d0f11;
}

.section--light {
  background-color: #131619;
}

.section__title {
  margin-bottom: 50px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

.section_subtitle {
  margin-top: -30px;
  margin-bottom: 45px;
  padding: 0 200px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}


/* About */
.about {
  display: flex;
  align-items: center;
  min-height: 400px;

  background: #0d0f11 url("../images/temp.webp") no-repeat center right 150px;
  background-size: contain;
}

.about__info {
  max-width: 560px;
}

.about__slogan {
  margin-bottom: 15px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

.about__text {
  padding: 10px 0;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

.about__text p {
  margin-bottom: 20px;
}


/* Advantages */
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}


/* Advantage */
.advantage {
  display: flex;
  max-width: 360px;
  
  background-color: #0d0f11;
}

.advantage:hover .advantage__image {
  transform: translate3d(-10px, -10px, 0);
}

.advantage__image {
  position: relative;
  display: block;
  min-width: 110px;
  min-height: 110px;

  background-color: #191b1e;

  transition: transform 0.3s linear;
}

.advantage__image::before {
  position: absolute; 
  width: 60px;
  height: 60px;
  top: 25px;
  left: 25px;
  content: "";
}

.advantage__image--supplies::before {
  background: #191b1e url("../images/icons/tattoo-supplies-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--tattoo-table::before {
  background: #191b1e url("../images/icons/tattoo-table-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--hands::before {
  background: #191b1e url("../images/icons/hands-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--sketching::before {
  background: #191b1e url("../images/icons/sketching-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--catalogue::before {
  background: #191b1e url("../images/icons/catalogue-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
}

.advantage__title {
  margin-bottom: 10px;
  
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 600;
}

.advantage__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
}


/* Gallery */
.gallery__filters-form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.gallery__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.gallery__button {
  margin: 0 auto;
}


/* Filters-form */
.filters-form__button {
  margin-left: 10px;
}

.filters-form__button:hover {
  background-color: #ffffff;
  color: #222222;
}

.filters-form__button--active {
  margin-left: 0;

  background-color: #fb9902;
  color: #ffffff;
}

.filters-form__button--active:hover {
  background-color: #fb9902;
  color: #ffffff;
}


/* Photos */
.photos__item {
  position: relative;
  width: 24%;
  margin-bottom: 20px;
}

.photos__link:hover .photos__info {
  opacity: 1;
}

.photos__info {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  text-align: center;

  transition: opacity 0.3s linear;
}

.photos__title {
  padding: 0 10px 20px;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.photos__master,
.photos__style {
  margin-top: 8px;

  color: #d4d3d3;
  font-size: 14px;
  line-height: 1.2;
}

.photos__master span {
  color: #fb9902;
}

.photos__style span {
  color: #ffffff;
}


/* Pagination */
.pagination__list {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 5px;
}

.pagination__item {
  margin-right: 5px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  display: inline-block;
  padding: 8px 15px;

  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;

  color: #222222;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: color 0.1s, background-color 0.2s linear;
}

.pagination__link:hover {
  background-color: #fb9902;
  color: #ffffff;
}


/* Services */
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 365px;
  margin-bottom: 23px;
  padding: 40px 40px 40px;

  background-color: #0d0f11;
  text-align: center;
}

.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
}

.services__link:hover .services__title {
  color: #fb9902;
}

.services__image {
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 25px;

  background-color: #191b1e;
  border-radius: 50%;
}

.services__image::before {
  position: absolute; 
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
  content: "";
}

.services__image--tatoo-machine::before {
  background: url("../images/icons/tatoo-machine-icon.svg") no-repeat ;
  background-size: contain;
}

.services__image--tattoo-pen::before {
  background: url("../images/icons/ink-hand-sewing-needles-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--piercing::before {
  background: url("../images/icons/piercing-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--flower::before {
  background: url("../images/icons/flower-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--cleaning-brush::before {
  background: url("../images/icons/cleaning-brush-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--tattoo-master::before {
  background: url("../images/icons/tattoo-master-icon.svg") no-repeat center;
  background-size: contain;
}

.services__title {
  margin-bottom: 20px;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 600;

  transition: color 0.1s linear;
}

.services__description {
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  text-align: center; 
}

.services__price {
  color: #d4d3d3;
  font-size: 14px;
  line-height: 1.2;
}

.services__button {
  margin-top: 17px;
}


/* Promo */
.promo {
  position: relative;
  z-index: 2;

  padding: 90px 0;

  background: #000 url("../images/4.jpg.webp") no-repeat center;
  background-size: cover;
}

.promo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.7);
}

.promo__content {
  position: relative;
  z-index: 2;

  max-width: 850px;
  margin: 0 auto;
  padding: 0 10px;

  text-align: center;
}

.promo__title {
  margin-bottom: 25px;
  padding: 0 20px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__text {
  margin-bottom: 30px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}


/* Team */
.team {
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  margin-bottom: 30px;
  padding: 0 15px;

  text-align: center;
}

.team__link {
  position: relative;
  overflow: hidden;

  display: block;

  background-color: #0d0f11;
}

.team__link:hover .team__image {
  transform: scale(1.1);
  transition-duration: 3s;
}

.team__image {
  background-color: #0d0f11;
}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;

  background-color: #0d0f11;
}

.team__name {
  margin-bottom: 5px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;

  transition: color 0.1s linear;
}

.team__description {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.4;
  font-style: italic;
}

.team__button {
  margin-top: 10px;
}


/* Social */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 105px;
  margin-top: 25px;

  gap: 15px;
}

.social__item {
  width: 25px;
  height: 25px;
}

.social__link {
  color: #ffffff;

  transition: color 0.1s linear;
}

.social__link:hover {
  color: #fb9902;
}

.social__icon {
  width: 100%;
  height: auto;
}


/* Reviews */
.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
}

.reviews__image {
  width: 180px;
  height: 180px;
  margin-bottom: 30px;

  border-radius: 50%;
}

.reviews__name {
  margin-bottom: 20px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
}

.reviews__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
}


/* FAQ */
.faq {
  display: flex;
  justify-content: center;
}

.faq__wrapper {
  width: 100%;
}

.faq__title {
  margin-bottom: 30px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

.faq__image {
  display: block;
  width: 450px;
  height: 600px;
  margin-left: 40px;
}


/* Accordion */
.accordion {
  max-width: 650px;
  width: 100%;
  margin: 20px auto;
}

.accordion__item {
  margin-bottom: 10px;

  background-color: #191b1e;
  border-radius: 3px;
}

.accordion__title {
  position: relative;
  z-index: 1;

  display: block;
  padding: 12px 20px;

  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.accordion__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: -1;

  width: 30px;
  height: 30px;
  margin: -15px 0 0 1px;

  background: #fb9902;
  border-radius: 50%;

  transform-origin: 100% 50%;
  transform: scale3d(1, 2, 1);
  transition: transform 0.5s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.3,0,0.7,1);
}

.accordion__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 60px;
  height: 100%;
  
  background: url("../images/icons/select-control-arrow.svg") no-repeat;
  background-color: #fb9902;
  background-position: top 21px center;
}

.accordion__title:hover::before {
  transform: scale3d(23, 7, 1);
}

.accordion__input {
  position: absolute;

  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;
}

.accordion__input:checked ~ .accordion__title {
  background-color: #fb9902;
}

.accordion__input:checked ~ .accordion__title::after {
  transform: rotate(180deg);
}

.accordion__input:checked ~ .accordion__text {
  display: block;
}

.accordion__text {
  display: none;
  padding: 20px 60px 20px 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;

  transition: opacity 1s linear;
}

.accordion__text p {
  margin-bottom: 8px;
}

.accordion__text a {
  color: #fb9902;
  text-decoration: none;
}

.accordion__text a:hover {
  text-decoration: underline;
}


/* Consultation */
.consultation {
  position: relative;
  z-index: 2;

  padding: 90px 0 60px;

  background: #000 url("../images/7.jpg.webp") no-repeat center;
  background-size: cover;
}

.consultation::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.7);
}

.consultation__wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: flex-end;
}

.consultation__image {
  width: 50%;
}

.consultation-form {
  width: 50%;
  padding-left: 55px;
}

.consultation-form__title {
  margin-bottom: 15px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
}

.consultation-form__text {
  margin-bottom: 30px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}


/* Form */
.form__group {
  margin-bottom: 40px;
}

.input {
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 15px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;

  color: #ffffff;
  font-family: inherit;
  font-size: 12px;

  transition: border-color 0.1s linear;
}

.input::placeholder {
  color: #d4d3d3;
}

.input:focus {
  outline: none;
  border-color: #fb9902;
}


/* Articles */
.articles {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.articles__item {
  display: flex;
  flex-direction: column;

  width: 25%;
  margin: 0 15px 30px;

  background-color: #131619;
}

.articles__image {
  max-width: 262px;
  max-height: 160px;
  object-fit: cover;
}

.articles__content {
  position: relative;
  padding: 10px 20px 30px;
}

.articles__content::before {
  content: "";
  position: absolute;
  top: -33px;
  right: 1px;
  left: 1px;
  z-index: 2;

  width: 262px;
  height: 34px;

  background: url("../images/blog-element.svg") no-repeat;
  background-size: cover;
} 

.articles__data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.articles__date {
  position: relative;
  padding-left: 18px;

  color: #cccccc;
  font-size: 12px;
  line-height: 2.1;
}

.articles__date::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 18px;
  height: 18px;

  background: url("../images/icons/clock-icon.svg") no-repeat center;
  background-size: cover;
}

.articles__comments {
  display: flex;
  align-items: center;

  color: #cccccc;
  text-decoration: none;
}

.articles__comments:hover {
  color: #fb9902;
}

.articles__comments svg {
  width: 18px;
  height: 18px;
}

.articles__comments-count {
  padding-left: 3px;
}

.articles__title {
  margin-bottom: 20px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: capitalize;
}

.articles__title:hover {
  text-decoration: underline;
}

.articles__title a {
  color: inherit;
  text-decoration: none;
}

.articles__text {
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

.articles__read {
  position: relative;
  display: flex;
  justify-content: flex-end;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
  text-align: right;
}

.articles__read:hover .articles__read-link {
  color: #fb9902;
}

.articles__read:hover .articles__read-icon {
  color: #fb9902;

  transform: translateX(10px);
}

.articles__read-link {
  margin-right: 40px;

  color: inherit;
  text-decoration: none;
}

.articles__read-icon {
  position: absolute;
  top: 6px;
  margin-right: 10px;

  cursor: pointer;

  transition: transform 0.3s linear;
}

.articles__button {
  
  text-align: center;
}


/* Footer */
.footer {
  padding: 100px 0 40px;

  background-color: #0d0f11;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 40px;

  border-bottom: 1px #fb9902 solid;
}

.footer__col {
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 20px;

  font-weight: 600;
}

.footer__col--first {
  font-weight: normal;
}

.footer__col--second {
  width: 40%;
  padding: 0 20px;
}

.footer__policy-link {
  color: inherit;
  text-decoration: none;
}

.footer__policy-link:hover {
  text-decoration: underline;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__item {
  min-width: 180px;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__link:hover {
  color: #fb9902;
}

.footer__button {
  margin-left: auto;
}

.footer__tel {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.footer__tel:hover .footer__link {
  color: #fb9902;
}

.footer__tel-icon {
  width: 25px;
  height: 25px;
}