body {
  margin: 0;

  background-color: #0d0f11;

  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

body.no-scroll,
body.nav-show {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}


/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Containers */
.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-right {
	padding-left: calc((100% - 1230px) / 2 + 30px);
}


/* Page */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}


/* Button */
.button {
  display: inline-block;
  padding: 10px 30px;

  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 1px solid transparent;
  cursor: pointer;

  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.3px;

  transition: color 0.3s linear, background-color 0.3s linear, outline 0.2s linear;
}

.button:focus-visible {
  border: 1px solid #ffffff;
  outline: 2px solid #fb9902;
}

.button:hover {
  background-color: #fb9902;
  color: #ffffff;
}

.button:active {
  background-color: #fb9902;
  color: #ffffff;
}

.button--primary {
  background-color: #fb9902;
  color: #ffffff;
}

.button--primary:hover {
  background-color: #ffffff;
  color: #222222;
}

.button--primary:active {
  color: #fb9902;
  border: 1px solid #fb9902;
  outline: 1px solid #fb9902;
}

.button--secondary {
  background-color: transparent;
  border: 1px solid #fb9902;

  color: #ffffff;
}

.button--secondary:hover {
  background-color: transparent;
  outline: 1px solid #fb9902;
}

.button--secondary:active {
  color: #fb9902;
}

.button--small {
  padding: 8px 14px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;

  transition: background 0.3s linear;
}

.header--dark,
body.nav-show .header {
  background-color: #0d0f11;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}


/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;

  border-bottom: 1px solid #fb9902;
}

.navigation--no-border {
  border: none;
}

.navigation__logo {
  margin-right: 80px;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  margin-right: -15px;
  padding: 15px 0;

  list-style: none;
}

.navigation__link {
  display: inline-block;
  padding: 10px 15px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 0.2s linear;
}

.navigation__link:focus-visible {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 2px;
}

.navigation__link:hover {
  color: #fb9902;
}

.navigation__link:active {
  color: #fb9902;
}

.navigation__link.active {
  color: #fb9902;
}

.navigation__search {
  margin-left: 30px;
  padding: 0;

  background-color: inherit;
  border: none;
  cursor: pointer;

  color: #ffffff;
}

.navigation__search:hover {
  color: #fb9902;
}


/* Logo */
.logo {
  min-width: 190px;
}

.logo:focus-visible {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 5px;
}


/* Burger */
.burger {
  position: relative;
  display: none;
  width: 42px;
  height: 30px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  font-size: 0;
  color: transparent;
}

.burger:focus {
  outline: none;
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
  width: 0;
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
  position: absolute;
  top: 40%;
  left: 0;

  transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
  transform: rotate(40deg);
}

.burger.active .burger__line:nth-child(4) {
  transform: rotate(-40deg);
}

.burger__line {
  display: block;
  width: 42px;
  height: 2.5px;
  margin: 5px 0;

  background-color: #ffffff;
  border-radius: 4px;

  transition: transform 0.2s ease-out;
}

.burger__line:nth-child(1) {
  width: 30px;
  margin-left: auto;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3) {
  transform-origin: right;
  transition: width 0.2s ease-out;
}


/* Hero */
.hero {
  position: relative;
  height: 950px;
  margin-bottom: 10px;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
    ), url("../images/hero-bg-1.jpg") no-repeat center top;
  background-size: cover;
}

.hero__slider .hero__slider-item {
  display: none;
}

.hero__slider.slick-initialized {
  background: #000000;
}

.hero__slider.slick-initialized .hero__slider-item {
  display: block;
}

.hero__slider .slick-list, 
.hero__slider .slick-track {
  height: 100%;
}

.hero__slider .slick-track::before {
  content: "";
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 950px;

  background-color: rgba(0, 0, 0, 0.7);
}

.hero__slider .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  align-items: flex-end;
}

.hero__slider .slick-dots li {
  margin: 0 2px;
}

.hero__slider .slick-dots li.slick-active button {
  height: 17px;

  background-color: #fb9902;
}

.hero__slider .slick-dots button {
  display: block;
  width: 4px;
  height: 12px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  cursor: pointer;

  color: transparent;
  font-size: 0;

  transition: height 0.2s linear;
}

.hero__slider .slick-dots button:focus {
  outline: none;
}

.hero__slider-photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.hero__inner {
  position: absolute;
  top: calc(50% + 10px);
  z-index: 2;
  transform: translatey(-50%);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-right: 20px;
}

.hero__slogan {
  margin-bottom: 16px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
  line-height: 1;
  font-weight: 600;
}

.hero__text {
  max-width: 560px;
  margin-bottom: 26px;
  
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

.hero__text p + p {
  margin-top: 10px;
}


/* Section */
.section {
  padding: 100px 0;

  background-color: #0d0f11;
}

.section--light {
  background-color: #131619;
}

.section--map {
  position: relative;
  height: 700px;
  padding: 0;

  background-color: #d4d3d3;
}

.section__title {
  margin-bottom: 50px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}

.section__suptitle {
  margin-top: -30px;
  margin-bottom: 45px;
  padding: 0 200px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}

.section__subtitle {
  margin-bottom: 25px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.1;
  font-weight: 700;
}


/* About */
.about {
  display: flex;
  align-items: center;
}

.about__info {
  width: 50%;
}

.about__text {
  padding-bottom: 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

.about__text p {
  margin-bottom: 15px;
}

.about__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
}

.about__image-wrapper {
  position: relative;
  width: 50%;
  margin-left: 30px;
}

.about__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.7));
}


/* Advantages */
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}


/* Advantage */
.advantage {
  display: flex;
  max-width: 360px;
  
  background-color: #0d0f11;
}

.advantage:hover .advantage__image {
  transform: translate3d(-10px, -10px, 0);
}

.advantage__image {
  position: relative;
  display: block;
  min-width: 110px;
  min-height: 110px;

  background-color: #191b1e;

  transition: transform 0.3s linear;
}

.advantage__image::before {
  position: absolute; 
  width: 60px;
  height: 60px;
  top: 25px;
  left: 25px;
  content: "";
}

.advantage__image--supplies::before {
  background: #191b1e url("../images/icons/tattoo-supplies-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--tattoo-table::before {
  background: #191b1e url("../images/icons/tattoo-table-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--hands::before {
  background: #191b1e url("../images/icons/hands-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--sketching::before {
  background: #191b1e url("../images/icons/sketching-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__image--catalogue::before {
  background: #191b1e url("../images/icons/catalogue-icon.svg") no-repeat center;
  background-size: cover;
}

.advantage__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
}

.advantage__title {
  margin-bottom: 10px;
  
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 600;
}

.advantage__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
}


/* Gallery */
.gallery__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.gallery__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -10px 20px;
}

.gallery__button {
  margin: 0 auto;
}


/* Gallery-filters */
.gallery-filters__button:not(.gallery-filters__button--active):hover {
  background-color: #ffffff;
  color: #fb9902;

  transition: color 0.1s linear;
}

.gallery-filters__button--active {
  margin-left: 0;

  background-color: #fb9902;
  color: #ffffff;
}


/* Photos */
.photos__item {
  position: relative;
  width: 25%;
  margin-bottom: 20px;
  padding: 0 10px;
}

.photos__link:focus-visible {
  outline: 2px solid #fb9902;
}

.photos__link:hover .photos__info {
  opacity: 1;
}

.photos__info {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;

  text-align: center;

  transition: opacity 0.3s linear;
}

.photos__title {
  padding: 0 10px 20px;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.photos__master,
.photos__style {
  margin-top: 8px;

  color: #d4d3d3;
  font-size: 14px;
  line-height: 1.2;
}

.photos__master span {
  color: #fb9902;
}

.photos__style span {
  color: #ffffff;
}

.photos__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Services */
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 365px;
  
  background-color: #0d0f11;
  text-align: center;
}

.services__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 40px 40px 40px;

  text-decoration: none;
}

.services__link:focus-visible {
  outline: 2px solid #fb9902;
}

.services__link:hover .services__title {
  color: #fb9902;
}

.services__image {
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 25px;

  background-color: #191b1e;
  border-radius: 50%;
}

.services__image::before {
  position: absolute; 
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
  content: "";
}

.services__image--tatoo-machine::before {
  background: url("../images/icons/tatoo-machine-icon.svg") no-repeat ;
  background-size: contain;
}

.services__image--tattoo-pen::before {
  background: url("../images/icons/ink-hand-sewing-needles-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--piercing::before {
  background: url("../images/icons/piercing-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--flower::before {
  background: url("../images/icons/flower-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--cleaning-brush::before {
  background: url("../images/icons/cleaning-brush-icon.svg") no-repeat center;
  background-size: contain;
}

.services__image--tattoo-master::before {
  background: url("../images/icons/tattoo-master-icon.svg") no-repeat center;
  background-size: contain;
}

.services__title {
  margin-bottom: 20px;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 600;

  transition: color 0.1s linear;
}

.services__description {
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  text-align: center; 
}

.services__price {
  color: #d4d3d3;
  font-size: 14px;
  line-height: 1.2;
}

.services__button {
  margin-top: 40px;
}


/* Promo */
.promo {
  position: relative;
  z-index: 2;

  padding: 90px 0;

  background: #000 url("../images/promo-image-desktop.jpg") no-repeat center;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .promo { 
    background-image: url("../images/promo-image-desktop@2x.jpg");
    background-size: cover; 
  }
}

.promo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.7);
}

.promo__content {
  position: relative;
  z-index: 2;

  max-width: 850px;
  margin: 0 auto;
  padding: 0 10px;

  text-align: center;
}

.promo__title {
  margin-bottom: 25px;
  padding: 0 20px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__text {
  margin-bottom: 30px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  text-align: center;
}


/* Team */
.team {
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 40px;
}

.team__item {
  width: 25%;
  padding: 0 15px;

  text-align: center;
}

.team__link {
  position: relative;
  overflow: hidden;

  display: block;

  background-color: #0d0f11;
}

.team__link:focus-visible {
  outline: 2px solid #fb9902;
}

.team__link:hover .team__image {
  transform: scale(1.1);
  transition-duration: 3s;
}

.team__image {
  width: 100%;
  min-height: 417px;
  background-color: #0d0f11;
}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;

  background-color: #0d0f11;
}

.team__name {
  margin-bottom: 5px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;

  transition: color 0.1s linear;
}

.team__description {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.4;
  font-style: italic;
}

.team__social {
  max-width: 105px;
  margin-top: 27px;
}


/* Social */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social__item {
  width: 25px;
  height: 25px;
}

.social__link {
  color: #ffffff;

  transition: color 0.2s linear;
}

.social__link:focus-visible {
  outline: none;
  color: #fb9902;
}

.social__link:hover {
  color: #fb9902;
}

.social__icon {
  display: block;
  width: 100%;
  height: auto;
}


/* Reviews */
.reviews {
  padding-bottom: 50px;
}

.reviews .slick-slide:focus-visible {
  outline: none;
}

.reviews .slick-dots {
  position: absolute;
  left: 0;
  bottom: -60px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviews .slick-dots li {
  margin: 0 3px;
}

.reviews .slick-dots li.slick-active button {
  margin: 0 1px;
  transform: scale(1.4);

  background-color: #fb9902;
}

.reviews .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  color: transparent;
  font-size: 0;

  transition: background 0.2s linear, transform 0.2s linear;
}

.reviews .slick-dots button:focus-visible {
  outline: 1px solid #fb9902;
  outline-offset: 1px;
}

.reviews__item {
  display: none;
  padding: 10px;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
}

.reviews__image-wrapper {
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
  
  overflow: hidden;
  border-radius: 50%;
}

.reviews__name {
  margin-bottom: 20px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  line-height: 1.1;
  font-weight: 700;
}

.reviews__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
}


/* FAQ */
.faq {
  display: flex;
  /* background: url("../images/faq-img_1.jpg");
  background-repeat: no-repeat;
  background-size: 608px;
  background-position: right top 53px; */
}

.faq__wrapper {
  width: 55%;
  padding-right: 20px;
  flex-shrink: 0;

  background-color: #131619;
}

.faq__accordion {
  max-width: 650px;
}

.faq__image-wrapper {
  position: relative;
  width: 40%;
  margin-top: 53px;
  
  /* background: url("../images/faq-img_1.jpg");
  background-repeat: no-repeat;
  background-size: 630px;
  background-position: top 53px center; */
}

.faq__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 565px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.7));
}

.faq__image {
  width: 100%;
  height: 565px;
}


/* Accordion */
.accordion {
  width: 100%;
}

.accordion__item {
  margin-bottom: 10px;

  background-color: #191b1e;
  border-radius: 3px;
}

.accordion__title {
  position: relative;
  z-index: 1;

  display: block;
  padding: 12px 75px 12px 20px;

  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;

  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.accordion__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: -1;

  width: 30px;
  height: 30px;
  margin: -15px 0 0 1px;

  background: #fb9902;
  border-radius: 50%;

  transform-origin: 100% 50%;
  transform: scale3d(1, 2, 1);
  transition: transform 0.5s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.3,0,0.7,1);
}

.accordion__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 60px;
  height: 100%;
  
  background: url("../images/icons/select-control-arrow.svg") no-repeat;
  background-color: #fb9902;
  background-position: center;
}

.accordion__title:hover::before {
  transform: scale3d(28, 7, 1);
}

.accordion__input {
  position: absolute;

  width: 0;
  height: 0;

  -webkit-appearance: none;
  appearance: none;
}

.accordion__input:focus-visible {
  outline: none;
}

.accordion__input:focus-visible ~ .accordion__title {
  outline: 2px solid #fb9902;
}

.accordion__input:checked ~ .accordion__title {
  background-color: #fb9902;
}

.accordion__input:checked ~ .accordion__title::after {
  transform: rotate(180deg);
}

.accordion__input:checked ~ .accordion__text {
  display: block;
}

.accordion__text {
  display: none;
  padding: 20px 60px 20px 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;

  transition: opacity 1s linear;
}

.accordion__text p {
  margin-bottom: 8px;
}

.accordion__text a {
  color: #fb9902;
  text-decoration: none;
}

.accordion__text a:hover {
  text-decoration: underline;
}


/* Consultation */
.consultation {
  position: relative;
  z-index: 2;

  padding: 90px 0 70px;

  background: #000 url("../images/consultation-image-desktop.jpg") no-repeat center;
  background-size: cover;
}

.consultation::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.5);
}

.consultation__wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: flex-end;
}

.consultation__image {
  width: 50%;
}


/* Consultation-form */
.consultation-form {
  width: 50%;
  padding-left: 55px;
}

.consultation-form__header {
  margin-bottom: 30px;
}

.consultation-form__title {
  margin-bottom: 15px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
}

.consultation-form__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}


/* Form */
.form {
  width: 100%;
  max-width: 300px;
}

.form--appointment {
  width: 100%;
  max-width: 400px;
}

.form__group {
  margin-bottom: 25px;
}

.form__title {
  position: relative;
}

.form__control:checked + .form__mark {
  border-color: #fb9902;
}

.form__control:checked + .form__mark::after {
  position: absolute;
  content: "";
  top: 1px;
  bottom: 0;
  left: 1px;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("../images/icons/tick.svg") no-repeat center;
}

.form__control:focus-visible + .form__mark,
.form__control:active + .form__mark {
  border-color: #fb9902;
  box-shadow: 0 0 3px 1px #fb9902;
}

/* .form__control:disabled + .form__mark {
  background-color: #676767;
  border-color: #222222;
}

.form__control:disabled + .form__mark:hover {
  border-color: #d4d3d3;
} */

.form__mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}

.form__mark:hover {
  border-color: #fb9902;
}

.form__label {
  padding-left: 25px;
}

.form__link {
  color: #fb9902;
  text-decoration: none;
}

.form__link:focus-visible {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 1px;
}

.form__link:hover {
  text-decoration: underline;
}


/* Input */
.input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 15px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;

  color: #ffffff;
  font-family: inherit;
  font-size: 14px;

  transition: border-color 0.1s linear;
}

.input::placeholder {
  color: #d4d3d3;
  font-style: italic;
}

.input:focus {
  outline: none;
  border-color: #fb9902;
}

.input--textarea {
  min-height: 150px;
  /* resize: none; */
}


/* Input-file */
.input-file {
  position: relative;
	display: inline-block;
}

.input-file__button {
	padding: 6px 20px;
  font-weight: 400;
  text-transform: none;
}

.input-file__text {
  padding: 0 10px;
  line-height: 36px;
	display: inline-block;
}


/* Articles */
.articles__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.articles__item {
  display: flex;
  flex-direction: column;

  width: 24%;

  background-color: #131619;
}

.articles__image {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
}

.articles__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 20px 30px;
}

.articles__content::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 0px;
  left: 0px;
  z-index: 2;

  width: 100%;
  height: 36px;

  background: url("../images/blog/blog-element.svg") no-repeat;
  background-size: cover;
} 

.articles__data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.articles__date {
  position: relative;
  padding-left: 18px;

  color: #cccccc;
  font-size: 12px;
  line-height: 2.1;
}

.articles__date::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  width: 18px;
  height: 18px;

  background: url("../images/icons/clock-icon.svg") no-repeat center;
  background-size: cover;
}

.articles__comments {
  display: flex;
  align-items: center;

  color: #cccccc;
  text-decoration: none;
}

.articles__comments:focus-visible {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.articles__comments:hover {
  color: #fb9902;
}

.articles__comments svg {
  width: 18px;
  height: 18px;
}

.articles__comments-count {
  padding-left: 3px;
}

.articles__link {
  margin-bottom: 20px;

  color: inherit;
  text-decoration: none;
}

.articles__link:focus-visible  {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.articles__link:hover {
  text-decoration: underline;
}

.articles__title {
  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.1;
  font-weight: 700;
}

.articles__text {
  flex-grow: 1;
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

.articles__read {
  position: relative;
  display: flex;
  justify-content: flex-end;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
  text-align: right;
}

.articles__read:hover .articles__read-link {
  color: #fb9902;
}

.articles__read:hover .articles__read-icon {
  color: #fb9902;

  transform: translateX(10px);
}

.articles__read-link {
  margin-right: 40px;

  color: inherit;
  text-decoration: none;
}

.articles__read-link:focus-visible {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.articles__read-icon {
  position: absolute;
  top: 6px;
  margin-right: 10px;

  cursor: pointer;

  transition: transform 0.3s linear;
}

.articles__button {
  text-align: center;
}


/* Map */
.map {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
}

.map [class*="copyrights-pane"] {
  display: none;
}

.map [class*="ground-pane"] {
  filter: grayscale(80%);
}


/* Contacts */
.contacts {
  position: absolute;
  top: 100px;
  z-index: 2;

  width: 480px;
  padding: 60px 40px;

  background-color: #0d0f11;
}

.contacts__title {
  position: relative;
  margin-bottom: 80px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.contacts__title::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: 100px;
  height: 2px;

  background-color: #fff;
} 

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 30px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  /* font-weight: 600; */
  font-style: normal;
}

.contacts__content-item {
  padding-left: 30px;
  
  background-position: 0 6px;

  color: inherit;
  text-decoration: none;
}

.contacts__address {
  background-image: url("../images/icons/location-icon.svg");
  background-repeat: no-repeat;
}

.contacts__tel {
  background-image: url("../images/icons/phone-icon.svg");
  background-repeat: no-repeat;
}

.contacts__email {
  background-image: url("../images/icons/mail-icon.svg");
  background-repeat: no-repeat;
}

.contacts__tel:focus-visible,
.contacts__email:focus-visible  {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.contacts__tel:hover,
.contacts__email:hover  {
  color: #fb9902;
  transition: color 0.2s linear;
}

.contacts__work-time {
  background-image: url("../images/icons/time-icon.svg");
  background-repeat: no-repeat;
}

.contacts__social {
  justify-content: flex-start;
  gap: 20px;
}

.contacts__social .social__item {
  width: 30px;
  height: 30px;
}


/* Footer */
.footer {
  padding: 100px 0 40px;

  background-color: #0d0f11;

  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 1px #fb9902 solid;
}

.footer__col {
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 20px;

  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
}

.footer__col--first {
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.footer__col--second {
  width: 40%;
}

.footer__policy-link {
  color: inherit;
  text-decoration: none;
}

.footer__policy-link:focus-visible  {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.footer__policy-link:hover {
  text-decoration: underline;
}

.footer__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.footer__item {
  min-width: 180px;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__link:focus-visible  {
  border-radius: 4px;
  outline: 1px solid #fb9902;
  outline-offset: 3px;
}

.footer__link:hover {
  color: #fb9902;
}

.footer__button {
  margin-left: auto;
}

.footer__tel {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.footer__tel:hover .footer__link {
  color: #fb9902;
}

.footer__tel-icon {
  width: 22px;
  height: 22px;
}

.footer__copy {
  font-size: 14px;
  line-height: 1.8;
}


/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  display: none;

  width: 100%;
  height: 100%;
  padding: 30px 15px;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.9);
}

.modal.show {
  display: block;
}

.modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal__frame {
  position: relative;
  width: 100%;
  max-width: 850px;
  padding: 25px;

  background-color: #0d0f11;
  opacity: 0;

  transform: translateY(-100px);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.modal__content {
  padding: 70px 80px;

  background-image: url("./../images/consultation-image-desktop.jpg");
  background-repeat: no-repeat;
  background-position: left -350px top -40px;
  border: 1px solid #fff;
}

.modal__content--big {
  padding: 70px 70px 60px;
  background-position: left -300px center;
}

.modal__header {
  margin-bottom: 30px;
}

.modal__title {
  margin-bottom: 10px;

  color: #fb9902;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}

.modal__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}

.modal__close {
  position: absolute;
  top: -26px;
  right: -26px;
  z-index: 1;

  width: 20px;
  height: 20px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  transition: transform 0.2s linear;
}

.modal__close:hover {
  transform: rotate(90deg);
}

.modal__close:focus {
  outline: none;
}

.modal__close img {
  display: block;
}




/* Media Queries */

/* @media (max-width: 1299px) {
  
  /* Hero */
  /* .hero {
    
  }

  .hero__inner {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 60%;
  }
}  */

@media (max-width: 1199px) {
  
  /* Containers */
  .container-right {
    padding-left: 30px;
  }

  /* Advantage */
  .advantage {
    width: 400px;
    max-width: none;
  }

  /* Team */
  .team__list {
    margin: 0 -10px 40px;
  }

  .team__item {
    padding: 0 10px;
  }

  /* FAQ */
  .faq__wrapper {
    width: 60%;
    margin: 0 auto;
    padding-right: 0;
  }

  .faq__accordion {
    max-width: none;
  }
  
  .faq__image-wrapper {
    width: 35%;
  }
  
  .faq__image-wrapper::after {
    height: 500px;
  }
  
  .faq__image {
    height: 500px;
  }

  /* Consultation */
  .consultation {
    background-image: url("../images/consultation-image-tablet.jpg");
  }

  /* Articles */
  .articles__list {
    /* flex-wrap: wrap; */
    /* row-gap: 30px; */
  }

  .articles__item {
    /* width: 46%; */
  }

  /* Footer */
  .footer__col {
    width: 27%;
  }
}


@media (max-width: 999px) {
  
  /* Container */
  .container {
    max-width: 780px;
  }

  /* Navigation */
  .navigation {
    height: 70px;
  }

  .navigation__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 70px);
    padding-top: 30px;

    background-color: rgba(13, 15, 17, 0.9);

    transform: translateX(100%);
    transition: transform 0.2s ease-out;
  }

  .navigation__list.show {
    transform: translateX(0);
  }

  .navigation__link {
    display: block;
    padding: 10px 0;

    font-size: 20px;
    text-align: right;
  }

  .burger {
    display: block;
  }

  /* Hero */
  .hero,
  .hero::before {
    height: 900px;
  }

  .hero__slogan {
    font-size: 45px;
  }

  /* Section */
  .section {
    padding: 70px 0;
  }

  .section__suptitle {
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 0 120px;
  }

  .section--map {
    height: 600px;
    padding: 0;
  }

  /* About */
  .about {
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .about__info {
    width: 70%;
    padding: 40px 60px 0 0;
    order: 2;
  }
  
  .about__image-wrapper {
    width: 70%;
    margin: 0;
    order: 1;
  }

  /* Advantages */
  .advantages {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .advantages__item {
    min-width: 70%;
    width: 70%;
  }

  /* Advantage */
  .advantage {
    width: 100%;
  }

  .advantage__description {
    padding: 15px 25px;
  }

  /* Photos */
  .photos__item {
    width: 33.33333%;
  }

  /* Promo */
  .promo {
    padding: 60px 0;
    background-image: url("../images/promo-image-tablet.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {

    .promo { 
      background-image: url("../images/promo-image-tablet@2x.jpg");
      background-size: cover; 
    }
  }

  .promo__content {
    max-width: 80%;
  }

  .promo__title {
    font-size: 28px;
  }

  /* Team */
  .team__list {
    flex-wrap: wrap;
  }

  .team__item {
    width: 50%;
    margin-bottom: 20px;
  }

  /* Reviews */
  .reviews__content {
    max-width: 60%;
  }

  .reviews__image-wrapper {
    width: 140px;
    height: 140px;
  }

  /* FAQ */
  .faq__wrapper {
    width: 85%;
  }

  .faq__image-wrapper {
    display: none;
  }

  /* Consultation */
  .consultation {
    padding: 60px 0;
  }

  /* Articles */
  .articles__list {
    flex-wrap: wrap;
    gap: 25px;
  }

  .articles__item {
    width: 48%;
  }

  .articles__image {
    min-height: 200px;
  }

  .articles__content::before {
    top: -64px;
    height: 65px;
  }

  /* Contacts */
  .contacts {
    top: 70px;
    width: 400px;
    padding: 50px 40px;
  }

  .contacts__title {
    margin-bottom: 60px;

    font-size: 30px;
  }

  .contacts__title::after {
    bottom: -30px;
  }

  .contacts__content {
    /* margin-bottom: 25px; */
    font-size: 14px;
  }

  .contacts__social {
    gap: 12px;
  }

  /* Footer */
  .footer__inner {
    flex-wrap: wrap;
    
    gap: 40px;
  }

  .footer__col {
    width: 45%;
  }

  .footer__col--second {
    order: 2;
  }

  /* Modal */
  .modal__frame {
    width: auto;
    max-width: none;
  }
  
  .modal__content {
    padding: 50px;
    background-image: none;
  }

  .modal__content--big {
    padding: 50px;
  }
}


@media (max-width: 849px) {

  /* Services */
  .services__list {
    flex-direction: column;
    align-items: center;
  } 

  .services__item {
    width: 65%;
  }

  .services__description {
    margin-bottom: 20px;
  }

  /* Promo */
  .promo {
    padding: 70px 0;
  }

  .promo__content {
    max-width: 90%;
  }

  /* Reviews */
  .reviews__content {
    max-width: 70%;
  }

  .reviews__image-wrapper {
    width: 140px;
    height: 140px;
  }

  /* Consultation */
  .consultation {
    background-image: url("../images/consultation-image-mobile.jpg");
  }

  /* Consultation-form */
  .consultation-form {
    width: 70%;
  }

  /* Contacts */
  .contacts {
    width: 320px;
    padding: 40px;
  }
}


@media (max-width: 767px) {

  /* Container */
  .container {
    max-width: 640px;
    padding: 0 20px;
  }

  /* Header */
  /* .header {
    background-color: #0d0f11;
  } */

  /* Hero */
  .hero,
  .hero::before {
    height: 850px;
  }

  .hero__inner {
    width: 70%;
    padding-right: 10px;
  }

  /* .hero__slogan {
    font-size: 30px;
  } */

  .hero__text {
    font-size: 14px;
  }

  /* Section */
  .section {
    padding: 60px 0;
  }

  .section--map {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 0;
    background-color: #0d0f11;
  }

  .section__title {
    font-size: 25px;
  }

  .section__subtitle {
    font-size: 23px;
  }

  .section__suptitle {
    padding: 0 60px;
    font-size: 14px;
  }

  /* About */ 
  .about__info {
    width: 80%;
    padding: 40px 0 0;
  }

  .about__image-wrapper {
    width: 90%;
  }

  /* Advantages */
  .advantages__item {
    min-width: 80%;
    width: 80%;
  }

  /* Services */
  .services__item {
    width: 70%;
  }

  /* Photos */
  .photos__item {
    width: 50%;
  }

  /* Promo */
  .promo {
    background-image: url("../images/promo-image-mobile.jpg");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {

    .promo { 
      background-image: url("../images/promo-image-mobile@2x.jpg");
      background-size: cover; 
    }
  }

  .promo__content {
    max-width: 90%;
  }

  .promo__title {
    font-size: 23px;
  }

  .promo__text {
    font-size: 14px;
  }

  /* Reviews */
  .reviews__content {
    max-width: 65%;
  }

  .reviews__image-wrapper {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }

  .reviews__name {
    margin-bottom: 15px;
  }

  .reviews__text {
    font-size: 14px;
  }

  /* FAQ */
  .faq__wrapper {
    width: 100%;
  }

  /* Accordion */
  .accordion__title {
    font-size: 13px;
  }

  /* Consultation */
  .consultation {
    padding: 50px 0;
  }

  /* Form */
  .form--appointment {
    max-width: 300px;
  }

  .form__group {
    margin-bottom: 15px;
  }

  /* Articles */
  .articles__list {
    gap: 20px;
  }

  /* Map */
  .map {
    order: 2;
  }

  /* Contacts */
  .contacts {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    order: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__content,
  .contacts__social {
    width: 45%;
  }

  /* Footer */
  .footer__item {
    font-size: 14px;
  }

  /* Modal */
  .modal__frame {
    padding: 15px;
  }

  .modal__content {
    padding: 30px;
    background-image: none;
  }

  .modal__content--big {
    padding: 40px;
  }

  .modal__title {
    font-size: 25px;
  }

  .modal__text {
    font-size: 14px;
  }
}



@media (max-width: 599px) {

 /* Container */
  .container {
    max-width: 480px;
  }

  /* Hero */
  .hero__inner {
    width: 80%;
  }

  .hero__slogan {
    font-size: 30px;
  }

  /* About */
  .about__button-wrapper {
    gap: 10px;
  }

  .about__button--appointment {
    min-width: 180px;
  }

  /* Section */
  .section__title {
    margin-bottom: 40px;
  }

  .section__suptitle {
    margin-top: -25px;
    margin-bottom: 20px;
    padding: 0 30px;
      
  }

  /* Advantages */
  .advantages__item {
    min-width: 90%;
    width: 90%;
  }

  /* Advantage */
  .advantage__description {
    padding: 15px;
  }

  /* Services */
  .services__item {
    width: 90%;
  }

  /* Photos */
  .photos__item {
    width: 100%;
  }

  /* Team */
  .team__list {
    justify-content: center;
  }

  .team__item {
    width: 90%;
  }

  /* Promo */
  .promo {
    padding: 50px 0;
  }

  .promo__content {
    max-width: 100%;
  }

  .promo__title {
    font-size: 23px;
  }

  /* Reviews */
  .reviews__content {
    max-width: 75%;
  }

  .reviews__image-wrapper {
    width: 90px;
    height: 90px;
  }

  /* Consultation */
  .consultation {
    background-image: none;
  }

  .consultation__wrapper {
    text-align: center;
  }

  /* Consultation-form */
  .consultation-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding-left: 0;
  }

  /* Articles */
  .articles__list {
    justify-content: center;
    gap: 25px;
  }

  .articles__item {
    width: 90%;
  }

  /* Footer */
  .footer__inner {
    justify-content: center;
  }

  .footer__col {
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .footer__col--second {
    order: 2;
  }

  .footer__button {
    margin: 0;
  }
}



@media (max-width: 479px) {
  
  /* Container */
  .container {
    max-width: none;
  }

  /* Navigation */
  .navigation__logo {
    margin-right: 40px;
  }

  .navigation__link {
    font-size: 16px;
  }

  /* Section */
  .section__title {
    font-size: 23px;
  }

  .section__subtitle {
    font-size: 20px;
  }

  /* About */
  .about__button {
    display: block;
    width: 100%;
  }

  .about__button--appointment {
    min-width: none;
  }


  /* Advantages */
  .advantages {
    padding: 0;
  }

  .advantages__item {
    min-width: none;
    width: 100%;
  }

  /* Advantage */
  .advantage__description {
    padding: 15px 20px;
  }

  /* Services */
  .services__item {
    width: 100%;
  }

  /* Reviews */
  .reviews__content {
    max-width: 95%;
  }

  .reviews__text {
    text-align: left;
  }

  /*  */
  .contacts__content,
  .contacts__social {
    width: 70%;
  }


  /* Modal */

  .modal__close {
    right: 0;
    top: -30px;
  }
}